* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #20242b;
    color: white;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.article {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'DM Serif Display', serif;
    margin: 0;
    line-height: 1.5;
}

h3 {
    font-family: 'DM Serif Display', serif;
    margin-block: 10px;
}

p {
    margin: 0;
    line-height: 2;
}

span {
    font-size: 20px;
    color: rgb(148, 147, 147);
}

@media only screen and (min-width:2400px) {
    h1 {
        font-size: 5rem;
    }

    p {
        font-size: 2.3rem;
    }

    .about--info {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .navbar--sitelogo {
        font-weight: bold;
        font-size: 46px
    }

    .nav--links a {
        font-size: 20px;
    }

    .vandetails {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width:1919px) and (min-width:1600px) {
    h1 {
        font-size: 4rem;
    }

    .about--info {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .navbar--sitelogo {
        font-weight: bold;
        font-size: 46px
    }

    .nav--links a {
        font-size: 20px;
    }

    .vandetails {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width:1599px) and (min-width:1366px) {
    h1 {
        font-size: 3.5rem;
    }

    p {
        font-size: 1.5rem;
    }

    .about--info {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .navbar--sitelogo {
        font-weight: bold;
        font-size: 46px
    }

    .nav--links a {
        font-size: 20px;
    }

    .vandetails {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width:1365px) and (min-width:1280px) {
    h1 {
        font-size: 2.1rem;
    }

    p {
        font-size: 1rem;
    }

    .about--info {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .navbar--sitelogo {
        font-weight: bold;
        font-size: 46px
    }

    .nav--links a {
        font-size: 20px;
    }

    .vandetails {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width:1279px) and (min-width:1024px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    .about--info {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .navbar--sitelogo {
        font-weight: bold;
        font-size: 46px
    }

    .nav--links a {
        font-size: 20px;
    }

    .vandetails {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width:1023px) and (min-width:600px) {
    h1 {
        font-size: 1.7rem;
    }

    p {
        font-size: 1rem;
    }

    .about--info {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .navbar--sitelogo {
        font-weight: bold;
        font-size: 46px
    }

    .nav--links a {
        font-size: 20px;
    }

    .vandetails {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width:599px) and (min-width:300px) {
    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.8rem;
    }

    .home--main {
        text-align: center;
        background-position: center top 0 !important;
    }

    .home--texts {
        margin-inline: auto;
    }

    .home--link {
        font-size: 14px !important;
    }

    .about--info {
        display: grid;
        grid-template-rows: 1fr 200px;
        margin-top: 50px;
    }

    .about--image--parent {
        margin-top: 40px;
    }

    .about--image {
        width: 50%;
        border: 1px solid white
    }

    footer {
        padding-inline: 15%;
    }

    .navbar--sitelogo {
        font-weight: bold;
        font-size: 20px !important;
    }

    .nav--links a {
        font-size: 10px !important;
    }

    .navbar a {
        margin-inline: 10px !important;
    }

    .navbar {
        height: 50px !important;
    }

    footer {
        height: 50px !important;
    }

    .title--header {
        height: 150px !important;
    }

    .title--header div {
        border-radius: 30px !important;
        top: 40px !important;
    }

    .about--title {
        background-position: center left 0 !important;
    }

    .title--header {
        margin-bottom: 50px !important;
    }

    .vans--title {
        background-position: center top -40px !important;
    }

    .filter-types>button {
        font-size: 10px !important;
    }

    .vans--tiles {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .van--info h3 {
        font-size: 12px !important;
    }

    .van--type {
        font-size: 8px !important;
    }

    span {
        font-size: 8px !important;
    }

    .vans--tiles {
        margin-block: 7% !important;
    }

    .vandetails--main {
        margin: 5% 5% 10% !important;
    }

    .vandetails--title {
        background-position: center top -200px !important;
    }

    .vandetails {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
}


/* FOOTER */
footer {
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: auto;
    text-align: center;
}

footer p {
    padding-bottom: 1px;
}

footer a:hover {
    border-bottom: 2px solid white;
}

/* NAVBAR */
.navbar {
    height: 125px;
    display: flex;
    align-items: center;
    padding: 0 3%;
    justify-content: space-between;
}


a {
    text-decoration: none;
    color: white;
}

.navbar--sitelogo {
    font-weight: bold;
    font-size: 46px
}

.active--link {
    font-weight: bold;
    padding-bottom: 2px;
    border-bottom: 2px solid white;
    color: white;
}

.navbar a {
    margin-inline: 20px;
}

.nav--links a {
    font-size: 20px;
}

/* HOME PAGE */
.home--page {
    width: 100%;
}

.home--main {
    background: linear-gradient(0deg,
            rgba(18, 34, 51, 0.46),
            rgba(18, 34, 51, 0.46)),
        url('/images/home--bg.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center top -90px;
    background-size: cover;
    margin: 5%;
    padding: 10% 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 40px;
    border: 2px solid white;
}

.home--texts {
    width: 75%;
}

.home--para {
    margin: 30px 0 50px;
}

.home--link {
    background-color: #20242b;
    padding: 3% 5%;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    margin-inline: 0;
    font-size: 26px;
    border: 2px solid white;
    width: fit-content;
}

.home--link:hover {
    background-color: #2f3237;
}

.home--about {
    margin: 7% 5%;
}

.home--about--texts>p {
    margin-block: 6%;
}

/* ABOUT */
.about--main {
    margin: 5%;
}

.title--header {
    height: 350px;
    margin-bottom: 150px;
    border-radius: 40px;
    display: flex;
    align-items: end;
    justify-content: center;
    border: 2px solid white;
}

.about--title {
    background: url('/images/about.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center top -40px;
    background-size: cover;
}

.title--header div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3% 6%;
    position: relative;
    top: 100px;
    border-radius: 40px;
    background-color: #FFEAD0;
    color: #20242b;
    border: 2px solid black;
}

.title--header div a {
    color: #20242b;
    width: fit-content;
}

.title--header div a:hover {
    border-bottom: 2px solid #20242b;
}


.about--texts {
    padding-right: 7%;
}

.about--image--parent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.about--image {
    border-radius: 40px;
    width: 100%;
    border: 2px solid white;
}

/* VANS */
.vans--main {
    margin: 5%;
}

.vans--title {
    background: url('/images/vans--bg.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center top -400px;
    background-size: cover;
}

.filter-types {
    margin-block: 1%;
}

.filter-types>button {
    margin-inline: 1%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.filter-type {
    background-color: #FFEAD0;
    padding: 1% 2%;
    border: 2px solid black;
    border-radius: 10px;
}

.clear-filter {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    padding-bottom: 1px;
    border-bottom: 2px solid white;
    color: white;
}

.vans--tiles {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 6%;
    margin-block: 3%;
}

.van--tile {
    padding: 4%;
    border-radius: 5%;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.van--tile:hover {
    transform: scale(1.01);
}

.van--img {
    max-width: 100%;
    border-radius: 5%;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-bottom: 2%;
}

.van--info {
    border-top: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.van--info>h3 {
    font-size: 30px;
}

.van--type {
    padding: 1% 5%;
    width: fit-content;
    border-radius: 10px;
    font-size: 16px;
}

.Simple {
    background-color: #E17654;
    color: white;
}

.Rugged {
    background-color: #115E59;
    color: white;
}

.Luxury {
    background-color: #161616;
    color: white;
}


/* VANDETAILS */
.vandetails--main {
    margin: 5%;
}

.vandetails--title {
    background: url('/images/vandetails.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center top -900px;
    background-size: cover;
}


.vandetails--imgParent {
    display: flex;
    justify-content: center;
    padding: 10%;
}

.vandetails--img {
    width: 100%;
    border-radius: 40px;
    border: 2px solid white;
}

.vandetails--description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.vandetails--para {
    margin-bottom: 3%;
}

/* HOSTLAYOUT NAVBAR */

.hostlayout--nav {}

.hostlayout--nav nav a {
    margin: 0 20px;
}


/* HOSTVANS LISTED */
.hostvans--main {
    padding: 0 70px;
}

.hostvan--tile {
    display: flex;
    background-color: white;
    margin: 30px 0;
    height: 200px;
    align-items: center;
    padding: 25px;
    border-radius: 10px;
    cursor: pointer;
}

.hostvan--imgParent {
    max-width: 150px;
    margin-right: 30px;
}

.hostvan--img {
    max-width: 100%;
    border-radius: 10px;
}

.hostvan--tile:hover {
    background: white;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}


.hostvan--detailsParent {
    background-color: white;
    margin: 40px 100px;
    padding: 50px;
    border-radius: 10px;
}

.hostvan--details {
    display: flex;
    margin-bottom: 50px;
}

.hostvandetails--imgParent {
    width: 350px;
    margin-right: 40px;
}


.hostvandetails--info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hostvandetails--info>* {
    margin: 20px 0 10px;
}

.back-button {
    margin: 30px 70px 0;
}

.host-van-detail-info {
    line-height: 1.5;
    padding: 10px 60px 0 18px;
}

.host-van-price {
    padding: 0 60px 0 18px;
}

.host-van-price>span {
    font-size: 1.3rem;
    color: #4D4D4D;
}

.host-van-detail-image {
    height: 100px;
    border-radius: 5px;
    margin-top: 40px;
    padding: 0 60px 0 18px;
}

/* ERROR PAGE */

.error--main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 100px;
}

.error--main a {
    padding: 20px 30px;
    background-color: black;
    color: white;
    border-radius: 5px;
}